fastapi==0.115.12
uvicorn[standard]==0.34.3
python-multipart==0.0.20
numpy==2.2.6
faiss-cpu==1.11.0
PyMuPDF==1.26.3
langchain-text-splitters==0.3.8
reportlab==4.4.2
python-dotenv==1.1.1
openai==1.97.1
requests==2.34.2
pydantic==2.11.7